{% load static %}
<div class="container pt-5">
  <div class='row'>
    <div class='col-6 text-center pt-5'>
      <h1 class="text-info">Welcome To My | Library Management Project</h1>
      <p class="text-white">
        A school library is a house or room in the school where books are kept for use by the students and teachers. A library plays a crucial role in the realm of knowledge. A school library is part and parcel of a school. No school is complete without a library. Like many other institutions, we have a library in our school. It is situated on the upstairs of the school building. It is a spacious room having a good number of almirahs containing books on literature, history, geography, science, religion, etc. The books are arranged on different bookshelves according to subjects.
      </p>
    </div>
    <div class='col-6'>
      <img src="{% static 'books2.jpg'%}" style='width:90%; border-radius:10px;' alt="book">
    </div>
  </div>
</div>